@import '_variables' , '_reset' , '_mixins' , '_keyframes';
body{
    font-family: 'Source Sans Pro';
    font-size: 0.875em;
    color: black;
    background-color: white;
}
.header{
    width:100%;
    &__centrado{
        width: 95%;
        max-width: 1450px;
        margin: auto;
        @include flex(row, nowrap,space-between,center);
    }
    &__h1{
        max-width: 91px;
        cursor: pointer;
        
    }
    &__nav{
        @include flex(row, nowrap,space-evenly,center);
        
    }
    &__ul{
        font-size: 15px;
        display: flex;
        padding-right: 4em;
        flex-flow: row nowrap;
        font-weight: 600;

    }
    &__li{
        cursor: pointer;
        padding: 1.3em 1em;
        transition: all .4s ease;
        display: flex;
        flex-flow: row nowrap;
    }
    &__link{
        display: flex;
        flex-flow: row nowrap;
    }
    &__azul{
        color: blue;
    }
    &__lupa{
        transform: rotate3d(0,0,1,90deg);
    }
    &__lupa:hover{
        fill: blue;
    }
    &__gris:hover{
        background-color: #F5F5F5;
    }
    &__sesion:hover{
        color: blue;
    }
    &__svg{
        width: 0.8em;
        padding-top: .5em;
        
    }
    }
    .fondo{
        width: 100%;
        min-height: 45vh;
        position: relative;
        &__cajita{
            color: white;
            width: 75%;
            position: absolute;
            top:  20%;
            left: 15%;
            line-height: 1;
        }
        &__centrado{
            width: 45%;
            max-width: 525px;
            margin: 10% 10%;
        }
        &__tachado{
            text-decoration: line-through;
        }
        &__titulo{
            font-size: 3em;
            font-weight: bold;
            padding-bottom: .5em;
            font-weight: 400;
        }
        &__parrafo{
            font-size: 1.1875em;
            line-height: 1.375rem;
        }
        &__enlaces{
            width: 60%;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
        }
        &__boton{
            margin-top: 1em;
            margin-right: 1em;
            max-width: 160px;
            padding: 15px;
            border-radius: 25px;
            text-align: center;
            font-size: .835em;
            font-weight: bold;
            color: white;
            background: #5865f5;
            transition: all .5s ease;
        }
        &__boton:hover{
            background-color: #3e59f2;
        }
        &__link{
            padding-top: .8em;
        }
        &__link:hover{
            text-decoration: underline;
        }
    }
    .enlaces{
        width: 98%;
        margin: auto;
        font-size: 1rem;
        border-bottom: .5px solid lightgrey;
        &__centrado{
            width: 80%;
            max-width: 750px;
            padding: 2em 0;
            margin: auto;
            @include flex (row, nowrap , space-evenly ,center);
        }
        &__span{
            font-weight: 700;
        }
        &__link{
            color: blue;
            font-weight: 500;
        }
        &__link:hover{
            text-decoration: underline;
        }
    }
    .galeria{
        width: 100%;
        padding-top: 1em;
        &__centrado{
            padding-top: 2em;
            width: 95%;
            max-width: 1500px;
            margin: auto;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
            gap: 2em;
        }
        &__item{
            width: 100%;
            height: 500px;
            font-weight: 700;
            font-size: 1.125em;
        }
        &__grande{
            grid-column: 1/3;
            grid-row: 2/3;
            background-image: url(../assets/hombre.png);
            background-size: cover;
            background-position: 50% 100%;
        }
        &__noimg{
            grid-column: 3/4;
            grid-row: 2/3;
            background-color: #9797FC;
        }
        &__primero{
            background-image: url(../assets/fuego.png);
            background-size: cover;
            background-position: 50% 100%;
        }
        &__segundo{
            background-image: url(../assets/bicicleta.png);
            background-size: cover;
            background-position: 50% 100%;
        }
        &__tercero{
            background-image: url(../assets/pdf.png);
            background-size: cover;
            background-position: 50% 100%;
        }
        &__texto{
            width: 90%;
            margin: auto;
            padding-top: 2em;
        }
        &__blanco{
            color: white;
        }
        &__h3{ padding-top: 1em;   
            font-size: 1.5em;
            line-height: 1.75rem;}
        &__arriba{padding-top: 0;}
        &__p{
            padding: .5em 0 0 0;
            font-weight: 500;
            line-height: 1.375rem;
        }
        &__link{
            padding: .5em 0;
            font-size: 0.875em;
        }
        &__link:hover{
            text-decoration: underline;
        }
        &__borde{
            padding:.5em 0;
            margin-bottom: 1em;
            border-bottom: 1px solid black;
        }
    }
    .condiciones{
        width: 80%;
        margin: auto;
        padding: 4em 0;
        font-weight: 500;
        font-size: 1rem;
        line-height: 1.25rem;
        text-align: center;
        &__p{
            padding: .5em 0;
            color: #505050;
        }
    }
    .footer{
        width: 100%;
        background-color: #FAFAFA;
        &__centrado{
            width: 90%;
            max-width: 1500px;
            padding: 3em 0;
            margin: auto;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
        }
        &__bloque{
            width: 15%;
        }
        &__h5{
            color: #4B4B4B;
            font-weight: 600;
            font-size: .9375em;
            padding: .5em 0;
        }
        &__link{
            padding: 0.25em 0;
            color: #4B4B4B;
            font-size: .75em;
            font-weight: 400;
            transition: all .5s ease;
        }
        &__link:hover{
            color: #999999;
        }
        &__borde{
            padding-bottom: 1em;
            margin-bottom: 1em;
            border-bottom: .8px solid #4B4B4B;
        }
    }
    @media screen and (max-width:1385px) {
        .header{
            &__centrado{
                display: block;
            }
            &__h1{
                margin: auto;
                padding: 0;
                
            }
            &__nav{
                width: 100%;
                margin: auto;
            }
        }        
    }
    @media screen and (max-width:1270px) {
        .header{
            &__centrado{
                padding:1em 0;
                display: block;
            }
            &__h1{
                margin: auto;
                padding: 0;
                
            }
            &__nav{
                display: none;
            }
        }        
    }

    @media screen and (max-width:920px){
            .galeria{
                &__centrado{
                    width: 50%;
                    margin: auto;
                    display: block;
                } 
                &__item{
                    width: 100%;
                    margin: 3em auto;
                }      

            }
            .condiciones{
                width: 50%;
            }
            .footer{
                &__centrado{
                    display: block;
                }
                &__bloque{
                    width: 50%;
                    margin: auto;
                    font-size: 2em;
                }
            }
    }
    @media screen and (max-width:800px){
        .enlaces{
            display: none;
        }
    }
    @media screen and (max-width:740px){
        .galeria{
            &__texto{font-size: .8em;}
        }

    }
    @media screen and (max-width:1100px) {
        .fondo{
               &__cajita{
                   margin-top: 1.5em;
                   position: relative;
                   color: black;
               }
               &__centrado{
                   width: 90%;
                   margin: auto;
               }
               &__enlaces{
                   margin: auto;
                   justify-content: center;
                   flex-flow: column nowrap;
                   width: 100%;
               }

        }
    }
    @media screen and (max-width:550px){
        .galeria{
            padding-top: 0;
            &__centrado{
                padding-top: 0;
                width: 80%;
            }   
        }
        .condiciones{
            width: 80%;
        }
        .footer{
            &__bloque{
                width: 80%;
            }
        }
    }
    @media screen and (max-width:650px) {
        .fondo{
                &__cajita{
                font-size: .6em;        
             }
         
        }
    }